.contact-wrapper {
  max-width: 1030px;
  margin-top: 100px;
  @media (max-width: 767px) {
    margin-top: 20px;
  }
}

.contact-left {
  width: calc(100% - 165px - 45px);
  display: inline-block;
  vertical-align: top;
  padding: 10px 30px 0 0;
  border-right: 1px solid $brand-primary;
  @media (max-width: 767px) {
    width: 100%;
    border-right: 0;
  }
}

.contact-right {
  min-width: 165px;
  display: inline-block;
  vertical-align: top;
  padding: 10px 0 0 30px;
  @media (max-width: 767px) {
    display: none;
  }
} 
.contact-left p,
.contact-right p {
  font-family: 'Proxima';
  font-size: 16px;
  margin: 0 0 20px;
  text-align: justify;
  color: #000;
}

.contact-left p:last-child {
  margin-bottom: 0;
}

.contact-right p {
  font-size: 16px;
  margin: 0 0 30px;
  text-align: left;
}
