.artist-container {
  position: relative;
}
.artist-bio {
  width: 100%;
  float: left;
  margin-top: 80px;
  @media (min-width: $screen-md) {
    max-width: 300px;
  }
}

.artist-bio--title {
  font-size: 16px;
  font-style: italic;
  font-family: 'Pier Sans', 'Ambassador Plus Sans', 'Proxima', Arial, sans-serif;
  margin-bottom: 13px;
  margin-top: 0;
  cursor: pointer;
}

.bio {
  color: $brand-primary;
}

.bio-close  {
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: $screen-xs-max)  {
  .bio-close {
    top: 5px;
    right: 20px;
  }
}

.artist-bio--content {
  position: absolute;
  z-index: 1;
  top: 0;
  background: rgba(255,255,255,0.95);
  font-family: 'Ambassador Plus Sans', 'Proxima', Arial, sans-serif; 
  font-size: 18px;
  padding: 10vw;
  /*cursor: pointer;*/
  width: calc(100% - 70px);
  height: 100%;
   @media (max-width: $screen-xs-max) {
    width: calc(100% - 20px);
  }
}
