.blogfeed-post {
  padding-bottom: 20px;
  display: flex;
}

.blogfeed-artistname {
  margin-bottom: 0;
  color: $header-color;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.blogfeed-posttitle {
  margin-top: 5px;
  font-size: 20px;
  color: $header-color;
}

.blogfeed-image {
  max-height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.blogfeed-content {
  align-self: center;
  color: #010101;
}

.blogpage-post {
  background: #EBEBEB;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #B2B2B2;
  border-right: 1px solid #B2B2B2;
  margin-left: -1 * floor(($custom-gutter-width / 2));
  padding-left: floor(($custom-gutter-width / 2)) - 15;
  @media (max-width: $screen-sm-max) {
    margin-right: 0;
  }
}

.blogpage-post__active {
  background: #fff;
}

.blogpage-post--content {
  padding-top: 40px;
  @media (min-width: $screen-md) {
    padding: 40px;
    height: 65vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.blog-page {
  border-top: 1px solid #B2B2B2;
}

.blogpage-post--close {
  width: 22px;
  text-align: center;
}

.custom-scroll {
  height: 65vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
