@font-face {
  font-family: 'Proxima';
  src: url('../fonts/proxima-nova-light.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Ambassador Plus Sans';
  src: url('../fonts/ambassador-plus-sans-light.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Pier Sans';
  src: url('../fonts/pier-italic.otf');
  font-style: italic;
  font-weight: normal;
}
