@import "mixins/separator";

.footer-separator {
  @include separator
  margin-bottom: 20px;
}

.logo-footer {
  height: 50px;
  width: auto;
  vertical-align: baseline;
  @media (min-width: $screen-xs) {
    height: 75px;
    // margin-left: 10em;
    // margin-right: 10em;
  }
}

.left-contact {
  @media (min-width: $screen-sm) {
    text-align: right;
  }
  @media (max-width: $screen-xs-max) {
    margin-bottom: 20px;
  }
}
.right-contact {
  @media (min-width: $screen-sm) {
    text-align: left;
  }
}

.footer {
  display: table-row;
  height: 1px;
  p {
    margin-bottom: 0;
  }
}

.contact-info {
  margin-top: 10px;
}

.footer-socialicons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-icon {
  &:first-child {
    margin-left: 0;
  }
  margin-left: 10px;
  svg {
    width: 20px;
    height: 20px;
  }
}
