.slick-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slick-next-arrow,
.slick-prev-arrow {
  font-family: 'Ambassador Plus Sans', 'Proxima', Arial, sans-serif;
  font-size: 72px;
  line-height: 60px;
  cursor: pointer;
}
.lightbox-button,
.share-button {
  font-size: 17px;
  text-transform: uppercase;
  cursor: pointer;
  flex: 1;
}
.lightbox-button {
  margin-right: 35px;
  text-align: right;
}
.share-button {
  margin-left: 35px;
}
.gallery-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.slick-wrapper {
  width: 100%;
  height: calc(100vh - 185px);
  transition: opacity 0.2s;
  overflow: hidden;
  position: relative;
}
.slick-wrapper__low-count {
  .slick-slide {
    text-align: center;
  }
}
.video-popup {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(255,255,255,0.3);
  display: flex;
  flex-direction: column;
}
.video-close {
  background: white;
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
}
.item-picture__clickable {
  cursor: pointer;
}
.item-picture--play-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slick-slide {
  position: relative;
}
.video-frame {
  flex: 1;
  border: none;
  height: 100%;
  max-width: 74vw;
  // position: absolute;
  top: 0;
  z-index: 0;
}
.slick-slider {
  margin-bottom: 0;
  height: 100%;
}
.slick-list {
  height: 100%;
  padding: 0 !important;
}
.slick-track {
  height: 100%;
}
.slick-placeholder {
  margin: 0 5px;
  min-width: 50px;
  // opacity: 0.5;
  max-width: 100vw;
  overflow: hidden;
}
.slick-placeholder__loading {
  background-color: #eee;
}
.slick-active {
  opacity: 1;
  transition: opacity 1s;
}
.slick-image {
  max-height: 100%;
  width: auto;
  transition: opacity 0.4s ease-out, z-index 0.4s ease-out;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.slick-arrow {
  background: red;
}
.photo-info {
  position: absolute;
  top: 0;
  background: white;
}
.gallery-title {
  white-space: nowrap;
}
