$gutter-width: 40px;
$helper-gutter-width: $gutter-width + 8;

.item-wrapper {
  img {
    max-width: 100%;
    // max-height: 600px;
  }
  .item-picture__stretched {
    width: 100%;
  }
  @media (min-width: $screen-sm) {
    max-width: 600px;
  }
  max-width: calc(100% - 30px);
  position: relative;
}
.item-wrapper__photo-only {
  margin-bottom: $gutter-width;
}
.item-wrapper__highlighted {
  .item-name {
    color: $brand-primary;
    font-weight: 600;
  }
  .item-picture {
    opacity: 0.5;
  }
  // background-color: red;
}
.item-wrapper__horizontal {
  display: inline-block;
  height: 300px;
  img {
    height: 300px;
  }
}

.item-separator {
  border-top: 1px solid #ccc;
  width: 90%;
  margin-top: 8px;
  margin-bottom: 74px;
}
.item-name {
  font-size: 34px;
  text-transform: uppercase;
  font-family: 'Ambassador Plus Sans', 'Proxima', Arial, sans-serif;
  margin-bottom: 0;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 37px;
  white-space: nowrap;
  .item-thumbnail-wrapper & {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
.item-name--small,
.item-categories--small {
  font-family: 'Proxima', Arial, sans-serif;
  color: $brand-primary-light;
}
.item-name--small {
  text-transform: none;
  margin-bottom: 30px;
  font-size: 17px;
}
.item-categories {
  text-transform: capitalize;
  margin-top: 10px;
}
.item-categories--small {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.item-image {
  position: relative;
  margin: 0 auto;
}
.item-image--placeholder {
  background-color: #eee;
  height: 0;
}
.item-picture {
  transition: opacity 0.4s ease-out;
  .item-image--equal-size & {
    position: absolute;
    top: 0;
  }
  .item-image--h & {
    width: 100%;
    // height: 100%;
    max-width: 2000px;
    // left: -25%;
  }
  .item-image--v & {
    width: 100%;
    left: 0;
  }
}
.item-picture__loading {
  opacity: 0;
}
.video-preloader {
  background-color: #e5e5e5;
  background-image: url(../images/spinner.gif);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%,

}
.item-category {
  margin-right: 15px;
  display: inline-block;
  &:last-child {
    margin-right: 0;
  }
}

.gallery-maxcols-4 {
  .grid-sizer, .item-wrapper {
    width: 100%;
    @media (min-width: $screen-sm) {
      // width: calc(50% - 18px);
      width: calc((100% - 2.5vw - 1 * #{$gutter-width}) / 2);
    }
    @media (min-width: $screen-md) {
      // width: calc(33% - 13px);
      width: calc((100% - 25px - 2 * #{$gutter-width}) / 3);
    }
    @media (min-width: $screen-lg) {
      // width: calc(25% - 17px);
      width: calc((100% - 30px - 3 * #{$gutter-width}) / 4);
    }
  }
}
.gallery-maxcols-3 {
  .gutter-sizer {
    width: ($gutter-width + 15px);
    @media (min-width: $screen-lg) {
      width: ($gutter-width + 2 * 15px / 3);
    }
  }
  .grid-sizer, .item-wrapper {
    width: 100%;
    @media (min-width: $screen-sm) {
      width: calc((100% - 1 * #{$gutter-width} - 2 * 15px) / 2);
    }
    @media (min-width: $screen-lg) {
      width: calc((100% - 2 * #{$gutter-width} - 2 * 15px) / 3);
    }
  }
}
.gallery-maxcols-2 {
  .gutter-sizer {
    width: ($gutter-width + 15px);
  }
  .grid-sizer, .item-wrapper {
    width: calc(100% - 2 * 15px);
    max-width: initial;
    @media (min-width: $screen-sm) {
      width: calc((100% - 1 * #{$gutter-width} - 2 * 15px) / 2);
    }
  }
}
.gutter-sizer {
  width: $helper-gutter-width;
}

.horizontal-photos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.item-image--equal-size:before {
  content: '';
  display: block;
  padding-top: 56%;
}
