@import "mixins/separator";

@mixin navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;
  // Undo the rounded corners
  @media (min-width: $grid-float-breakpoint) {
    border-radius: 0;
  }
  top: 0;
  border-width: 0;
  .navbar-collapse {
    max-height: $navbar-collapse-max-height;
    @media (max-device-width: $screen-xs-min) and (orientation: landscape) {
      max-height: 200px;
    }
  }
}

.nav > li > a {
  padding-bottom: 0;
  &:hover, &:focus, &.current-page {
    color: $brand-primary;
    background-color: transparent;
    // @media (min-width: $grid-float-breakpoint-max) {
    // }
  }
  &.menu-icon {
    padding-top: 0 !important;
    padding-right: 0 !important;
    display: inline;
    @media (min-width: $grid-float-breakpoint) {
      display: block;
    }
    svg {
      width: 40px;
      height: 40px;
      &:hover {
        padding: 5px;
      }
      @media (min-width: $grid-float-breakpoint) {
        width: 20px;
        height: 20px;
        &:hover {
          padding: 0;
        }
      }
    }
  }
}
.menu-icons {
  @media (max-width: $grid-float-breakpoint-max) {
    padding-top: 15px;
  }
}

.menu-item {
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  a {
    color: black;
    // transition: $menu-transition;
    .shrinked & {
      @media (min-width: $grid-float-breakpoint) {
        // line-height: 44px;
      }
    }
  }
}

.main-logo {
 /* height: 35px;*/
 height: 60px;
  width: auto;
  /* transition: $menu-transition;
  .shrinked & {
    height: 35px;
  }
  @media (min-width: $grid-float-breakpoint) {
    height: 60px;
  } */

}

.navbar {
  background-color: white;
  padding-top: floor(($custom-gutter-width / 10));
  @media (min-width: $screen-sm) {
    @include navbar-fixed-top;
  }
  @media (min-width: $grid-float-breakpoint) {
    padding-top: floor(($custom-gutter-width / 5));
  }
}

.menu-wrapper {
  padding-left: floor(($custom-gutter-width / 2));
}

.navbar-collapse {
  @media (min-width: $grid-float-breakpoint) {
    position: absolute;
    bottom: 10px;
    right: floor(($custom-gutter-width / 2));
  }
}

.header-separator {
  @include separator
}

.icon-bar {
  background-color: black;
  .navbar-toggle:hover & {
    background-color: $brand-primary;
  }
}

.navbar-toggle {
  margin: 15px 0 0;
  padding-right: 0;
}

.cl {
  @media (max-width: $grid-float-breakpoint-max) {
    max-height: 0 !important;
    opacity: 0 !important;
    visibility: hidden;
  }
}

.cl.in {
  opacity: 1 !important;
  max-height: 1000px !important;
  visibility: visible;
  transition: $menu-transition;
}

.navbar-nav {
  @media (min-width: $grid-float-breakpoint) {
    display: flex;
    align-items: flex-end;
  }
}