.instafeed {
  margin-bottom: 50px;
}

.instafeed-text {
  font-size: 13px;
}

.instafeed-link {
  color: #212121;
  &:hover {
    text-decoration: none;
  }
}

.instafeed-post--small-shift {
  @media (min-width: $screen-sm) {
    margin-top: 45px;
  }
}
.instafeed-post--medium-shift {
  @media (min-width: $screen-sm) {
    margin-top: 60px;
  }
}
.instafeed-post--large-shift {
  @media (min-width: $screen-sm) {
    margin-top: 70px;
  }
}
