@import "vendor";
@import "vars";
@import "bootstrap-vars";
$icon-font-path: "../fonts/";
@import "fonts";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "header";
@import "footer";
@import "blog-feed";
@import "insta-feed";
@import "grid-gallery";
@import "artist";
@import "gallery";
@import "about";
@import "share";
@import "../../wp/wp-content/plugins/contact-form-7/includes/css/styles";

html, body, #root {height: 100%;}

::-webkit-scrollbar {
    width: 6px;
    background-color: #b2b2b2;
}

::-webkit-scrollbar-thumb {
    background-color: #636363;
}

::-webkit-scrollbar-button {
    display: none
}

.main-wrapper__menu {
  display: table;
  transition: $wrapper-transition;
  padding-top: 0px;
  @media (min-width: $screen-sm) {
    //padding-top: 60px + floor(($custom-gutter-width / 2)) + 20px;
    padding-top: 30px + floor(($custom-gutter-width / 2)) + 55px;
    //padding-top: 80px;
  }
  @media (min-width: $grid-float-breakpoint) {
    // padding-top: 150px;
    padding-top: 30px + floor(($custom-gutter-width / 2)) + 55px;
  }
  &.shrinked {
    // padding-top: 80px;
    @media (min-width: $screen-sm) {
      // padding-top: 100px;
    }
  }
}
.main-wrapper {
  width: 100%;
  height: 100%;
}

.vr {
  display: flex;
  border-right: 1px solid #ccc;
  margin-top: 69px;
  margin-bottom: 50px;
}

.feed-wrapper {
  margin-top: 40px;
  @media (min-width: $screen-md) {
    display: flex;
  }
}

.page-title {
  font-family: 'Ambassador Plus Sans', 'Proxima', Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 15px;
}
.page-title__gallery {
  padding-top: 25px;
  margin-bottom: 60px;
  padding-left: 45px;
  padding-right: 45px;
}
.page-title__grid {
  padding-top: 25px;
  margin-bottom: 60px;
}

.cross-hatch {
  margin-bottom: 20px;
  @media (max-width: $screen-sm-max) {
    text-align: center;
    .row {
      text-align: left;
    }
  }
  @media (min-width: 1500px) {
    width: 25%;
  }
}

// .subpage-photos {
//   @media (min-width: 1500px) {
//     width: 75%;
//   }
// }
.video-thumbs {
  padding-left: 0;
}

.cross-hatch--artist,
.cross-hatch--category {
  font-family: 'Ambassador Plus Sans', 'Proxima', Arial, sans-serif; 
  font-size: 18px;
  display: inline-block;
  line-height: 23px;

}
.cross-hatch__elastic {
  @media (min-width: $screen-md) {
    font-size: 1.2vw;
    line-height: 1.4vw;
  }
}

.cross-hatch--artist {
  @media (min-width: $screen-md) {
    padding-left: 0;
    padding-right: 10px;
  }
}
.last-artist {
  @media (min-width: $screen-md) {
    padding-bottom: 13px;
    &:after {
      border-right: 1px solid $brand-primary;
      content: '';
      position: absolute;
      bottom: 0;
      right: -1px;
      top: 50%;
    }
  }
}
.cross-hatch--separator {
  height: 1px;
  background-color: $brand-primary;
  width: 100%;
  @media (min-width: $screen-md) {
    // margin-left: 15px;
    width: 60%;
    float: left;
  }
}
.cross-hatch--category {
  min-height: 13px;
  padding-right: 15px;
  @media (min-width: $screen-md) {
    border-left: 1px solid $brand-primary;
    padding: 0;
  }
}
.cross-hatch--link {
  padding: 0 5px;
  display: inline-block;
}
.cross-hatch--top-separator {
  height: 13px;
  @media (min-width: $screen-md) {
    border-left: 1px solid $brand-primary;
  }
  @media (max-width: $screen-sm-max) {
    display: none;
  }
}
.cross-hatch--bottom-separator {
  height: 13px;
  margin-left: 1px;
  @media (min-width: $screen-md) {
    border-right: 1px solid $brand-primary;
  }
  @media (max-width: $screen-sm-max) {
    display: none;
  }
}
.first-category {
  @media (min-width: $screen-md) {
    padding-top: 13px;
  }
}
.cross-hatch--active-link,
.cross-hatch--active-link:hover,
.cross-hatch--active-link:focus {
  color: #fff;
  background-color: $brand-primary;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left:  floor(($custom-gutter-width / 2));
  padding-right: ceil(($custom-gutter-width / 2));
  @media (max-width: $screen-xs-max) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.separator-bar {
  float: left;
  height: 3px;
}
.bar1 {
  width: 27%;
  background-color: #00aae3;
}
.bar2, .bar3, .bar4, .bar5, .bar6, .bar7, .bar8, .bar9, .bar10, .bar11 {
  width: 7.3%;
}
.bar2 {
  background-color: #009cd0;
}
.bar3 {
  background-color: #0090bf;
}
.bar4 {
  background-color: #0084ae;
}
.bar5 {
  background-color: #00789f;
}
.bar6 {
  background-color: #006b8d;
}
.bar7 {
  background-color: #005c79;
}
.bar8 {
  background-color: #004a63;
}
.bar9 {
  background-color: #00384d;
}
.bar10 {
  background-color: #002234;
}
.bar11 {
  background-color: #001225;
}

.loading-info {
  font-size: 25px;
  color: #ccc;
  height: 100vh;
  user-select: none;
  cursor: default;
}

.breadcrumb-link {
  color: $brand-primary;
}
.breadcrumb-link__active {
  color: $link-color;
}

label {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 5px;
}
