.share-form {
  display: flex;
  background: #eee;
  border: 1px solid $brand-primary;
  label {
    text-transform: lowercase;
  }
  input, textarea {
    border: none;
    border-radius: 0;
  }
  .wpcf7-submit, .share-form--title {
    text-transform: uppercase;
    font-size: 18px;
    color: $brand-primary;
    background: transparent;
  }
}
.share-form--links {
  padding: 0 20px;
  border-right: 1px solid $brand-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.share-form--content {
  padding: 0 20px;
}
.share-form--title {
  display: flex;
  justify-content: space-between;
}
.share-form--close {
  cursor: pointer;
}
.share-frame {
  align-self: center;
  flex: 1;
  border: none;
  max-width: 74vw;
  top: 0;
  z-index: 0;
  display: flex;
  align-items: center;
}