@mixin separator() {
  margin-top: 6px;
  height: 3px;
  margin-left: floor(($custom-gutter-width / 2));
  margin-right: floor(($custom-gutter-width / 2));
  @media (max-width: $screen-xs-max) {
    margin-left: 15px;
    margin-right: 15px;
  }
  // background-image: url(../images/separator.svg);
  // background-repeat: no-repeat;
  // background-position: bottom;
  // background-size: cover;
}
